<form method="POST" action="/user/login">
    email<input type="email" name="email"/>
    password<input type="password" name="password"/>
    <button> submit </button>
</form>
<p>Do you want to make account <a href="/users/register">register now</a></p>
