<form action="/users/register" method="post">
   username <input type="text" name="name"  
   value="<%= typeof name != 'undefined' ? name: ' ' %>"
   />
   password <input type="password" name="password"
   value="<%= typeof password != 'undefined' ? password: ' ' %>"
   />
   email <input type="email" name="eamil"
   value="<%= typeof email != 'undefined' ? email: ' ' %>"
   />
   date <input type="date" name="date"
   value="<%= typeof date != 'undefined' ? date: ' ' %>"
   />
    <button> submit </button>
</form>
<p>Do you have an account <a href="/users/login">login</a></p>